@charset "UTF-8"; 

/*FONT DECLARE NO HTML E NO CSS - FONT Rajdhani
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet">
font-family: 'Rajdhani', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --background: #f2f3f5;
    --gray-line: #dcdde0;
    --text: #666;
    --text-highlight: #b3b9ff;
    --title: #2e384d;
    --red: #e83f5b;
    --green: #4cd62b;
    --blue: #5965e0;
    --blue-dark: #4953b8;
    --blue-twitter: #2aa9e0;
}

@media(max-width: 1080px){
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px){
    html {
        font-size: 87%;
    }
}

body{
    background: var(--background);
    color: var(--text);
}

body, input, textarea, button{
    font: 400 1rem "Inter", sans-serif;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.experience-bar{
    display: flex;
    align-items: center;
    position: relative;
}

.experience-bar span{
    font-size: 1rem;
}

.experience-bar > div{
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
    /* overflow: hidden; */
}

.experience-bar > div > div{
    height: 4px;
    border-radius: 4px;
    background: var(--green);
}

.experience-bar .current-experience {
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
}

/*
.experience-bar .current-experience-bar{
    position: absolute;
    height: 100%;
    background: var(--green);
    border-radius: 4px;
    transition: width .3s ease-in;
}

.experience-bar .current-experience-value{
    position: absolute;
    top: 12px;
    left: 85%;
    transition: left .3s ease-in, transform .3s ease-in;
    transform: translateX(-50%);
    color: var(--green);
    white-space: nowrap;
}

.experience-bar .current-experience-point{
    display: block;
    position: absolute;
    /* opacity: 0.4; */
/*
    transform: translate(-50%,calc(-50% + 2px));
    width: 6px;
    height: 6px;
    background: var(--green);
    border-radius: 16px;
    left: 50%;
    transition: transform 250ms ease-in, left .3s ease-in, border 500ms;
}

.experience-bar:hover .current-experience-point{
    transform: translate(-50%,calc(-50% + 2px)) scale(2);
    border: 1px var(--green) solid;
    background: var(--background);
}
*/
